<div id="app">
  <div id="lootbox-container">
    <img 
      id="chest-image" 
      [src]="isOpening ? 'assets/chest_opening/open_chest.gif' : 'assets/chest_opening/chest_idle.gif'" 
      alt="Lootbox"
      (click)="!isOpening && openBox()">
  </div>
  <button id="openBtn" (click)="openBox()" [disabled]="isOpening">
    {{ isOpening ? 'Opening...' : 'Open' }}
  </button>
</div>

<div id="overlay" *ngIf="showOverlay">
  <div style="position: relative">
    <div id="marker"></div>
    <div id="roller">
      <div id="items" #itemsContainer>
        <div *ngFor="let item of items" class="item" [style.background]="item.color">
          {{ item.name }}
        </div>
      </div>
    </div>
  </div>
</div>

<div id="popup" *ngIf="showPopup">
  <div id="popupBox">
    <h2 id="result">{{ resultText }}</h2>
    <button id="okBtn" (click)="resetAll()">Okay</button>
  </div>
</div>
