<span class="tooltip-wrapper">
  <span
    class="tooltip-trigger"
    tabindex="0"
    [attr.aria-describedby]="tooltipId"
    (mouseenter)="show()"
    (mouseleave)="hide()"
    (click)="toggle($event)"
    (focus)="show()"
    (blur)="hide()"
    role="button"
    aria-label="Show info"
  >?</span>

  <span
    [id]="tooltipId"
    class="tooltip-box"
    [class.visible]="visible()"
    [style.left]="tooltipStyle().left"
    [style.top]="tooltipStyle().top"
    role="tooltip"
  >{{ text() }}</span>
</span>
