<div class="h-[calc(100vh-4rem)] flex flex-col lg:flex-row overflow-hidden">
  <!-- Left sidebar: Friend list -->
  <div class="w-full lg:w-[20rem] shrink-0 h-[45%] lg:h-full border-b lg:border-b-0 lg:border-r border-border">
    <app-friend-list
      [friends]="friends()"
      [pendingRequests]="pendingRequests()"
      [selectedFriendId]="selectedFriend()?.friendId ?? null"
      [activeTab]="activeTab()"
      [currentPlayerId]="currentPlayerId()"
      (onSelectFriend)="selectFriend($event)"
      (onViewGlory)="viewGlory($event)"
      (onAddFriend)="showAddFriendModal.set(true)"
      (onRespondRequest)="respondToRequest($event.friendId, $event.accept)"
      (onTabChange)="activeTab.set($event)"
    />
  </div>

  <!-- Right panel: Chat thread -->
  <div class="flex-1 h-[55%] lg:h-full min-h-0">
    <app-chat-thread
      [friend]="selectedFriend()"
      [messages]="messages()"
      [currentPlayerId]="currentPlayerId()"
      (onSendMessage)="sendMessage($event)"
      (onMakeOffer)="showTradeOfferModal.set(true)"
      (onAcceptOffer)="acceptTradeOffer($event)"
      (onDeclineOffer)="declineTradeOffer($event)"
    />
  </div>
</div>

<!-- Add Friend Modal -->
@if (showAddFriendModal()) {
  <app-add-friend-modal
    (onClose)="showAddFriendModal.set(false)"
    (onSendRequest)="addFriend($event)"
  />
}

<!-- Trade Offer Modal -->
@if (showTradeOfferModal()) {
  <app-trade-offer-modal
    [items]="tradeItems()"
    (onClose)="showTradeOfferModal.set(false)"
    (onSubmit)="makeTradeOffer($event)"
  />
}
